<footer class="container-fluid" style="background-color: #9CBE9C; color:white; padding-top: 30px !important;
padding-bottom: 10px !important;" >
  <div class="row">
    <div class="col-12 col-md-4">
      {{ partial "molecule-section-footer-address.html" . }}
      </div>
    <div class="col-12 col-md-8">
        {{ partial "molecule-section-footer-pagelist.html" . }}
    </div>
  </div>
  {{ partial "atom-section-footer-copyright.html" . }}
</footer>

{{ partial "atom-footer-section-backtotop-btn.html" . }}